.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
  }
  
  h1 {
    font-size: 24px;
  }
  
  b {
    color: #6F00FF;
  }
  
  .jobbutton {
    margin-top: 1%;
    background-color: #6F00FF;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 16px;
  }
  
  .jobbutton a {
    text-decoration: none;
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  
    .jobbutton {
      margin-top: 2%;
      font-size: 18px;
      padding: 6px 12px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 0;
  }
  .telegram {
    position: fixed;
    bottom: 0;
    right: 10%;
    color: #6F00FF;
    font-size: 40px;
    transform: translateY(37%);

  }
  
  

  
  @media (max-width: 576px) {
    h1 {
      font-size: 18px;
    }
  
    .jobbutton {
      margin-top: 3%;
      font-size: 16px;
      padding: 4px 8px;
    }
    
  }
  